{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}HomePage{% endblock %}

{% block body %}
        <div class="row">
            <div class="col text-center">
                 <h1>Добро пожаловать на English Book!</h1>
            </div>
        </div>
{% endblock %}
