{% extends 'base.html.twig' %}

{% block title %}Confirm{% endblock %}

{% block body %}
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <div class="row">
                <div class="col-auto">
                    <h4>Подтвердите удаление пользователя {{ userForDeletion.email }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <a href="{{ path('app_user_delete', {'id': userForDeletion.id}) }}" class="btn btn-danger">Удалить
                        безвозвратно</a>
                </div>
                <div class="col-auto">
                    <a href="{{ path('app_admin') }}"
                       class="btn btn-outline-secondary">Отмена</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
