{% extends 'base.html.twig' %}

{% block title %}New List{% endblock %}

{% block body %}
    <div class="row">
        <div class="col text-center">
            <h1>Создание нового списка</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            {{ form_start(listCreateForm) }}
            {{ form_row(listCreateForm.name) }}
            <button type="submit" class="btn btn-primary">Создать</button>
            {{ form_end(listCreateForm) }}
        </div>
    </div>
{% endblock %}
