{% extends 'base.html.twig' %}

{% block title %}List {{ list.name }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>{{ list.name }}</h3>
    </div>
</div>
    <div class="row mt-2">
        <div class="col">
            <a href="{{ path('app_word_create', {'listId': list.id}) }}" class="btn btn-outline-primary">Добавить слово</a>
        </div>
    </div>
{% endblock %}
