{% extends 'base.html.twig' %}

{% block title %}List {{ list.name }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <h3>{{ list.name }}</h3>
    </div>
</div>
{% endblock %}
