<div class="row justify-content-end">
    <div class="col-auto">
        <button type="button" class="btn btn-outline-primary">Вход</button>
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-outline-info">Регистрация</button>
    </div>
</div>