<div class="row justify-content-end">
    {% if not is_granted('ROLE_USER') %}
    <div class="col-auto">
        <a class="btn btn-outline-primary" href="{{ path('app_login') }}">Вход</a>
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-info" href="{{ path('app_sign_up') }}">Регистрация</a>
    </div>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-outline-primary" href="{{ path('app_logout') }}">Выход</a>
    {% endif %}
</div>