{% extends 'base.html.twig' %}

{% block title %}Hello SignUpController!{% endblock %}

{% block body %}
    <div class="container mt-2">
        {{ include('menu.html.twig') }}
        <div class="row">
            <div class="col text-center">
                <h1>Регистрация на English Book!</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4">
                {{ form_start(signUpForm) }}
                {{ form_widget(signUpForm) }}
                <button type="submit" class="btn btn-primary" >Зарегистрироваться</button>
                {{ form_end(signUpForm) }}
            </div>
        </div>
    </div>
{% endblock %}
